@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

section {
    @apply 3xl:px-80 lg:px-32 md:px-16 px-5 mb-16 flex-grow;
}

br {
    @apply lg:block hidden;
}

h1 {
    @apply lg:text-5xl text-3xl font-bold;
}

h2 {
    @apply lg:text-2xl text-lg;
}

h3 {
    @apply lg:text-xl text-base;
}

a.btn,
button {
    @apply font-bold text-xl bg-primary text-darker w-max flex items-center gap-2 px-4 py-2 rounded-lg;
}

a.btn.secondary,
button.secondary {
    @apply font-bold text-xl bg-darker text-primary w-max flex items-center gap-2 px-4 py-2 rounded-lg;
}

a.btn,
button ion-icon {
    @apply text-2xl;
}

input,
select {
    @apply bg-transparent text-white border-2 border-primary text-2xl px-4 py-2 rounded-lg;
}
